.DS_Store
.svn
*~
.*.swp

# Vagrant
.vagrant/
Vagrantfile

# Rails
.bundle
.project
db/*.sqlite3

/log*
*.log
/tmp/
tmp/**/*
tmp/*
*.tmproj
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log
npm-debug.log
.env
.env.dev

.byebug_history

# Sensitive Info
config/database.yml
config/initializers/app_env_vars.rb

/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
