<h2 class="title">Demo Map filtering</h2>

<div class="sub-title">
  Demo Basic with filters based on json attribute.
</div>

<div data-controller="map-filters" data-map-filters-url="/sample_data.json">

  <div class="inline-flex mb-1">
    <label>Show Only:</label>

    <button    id="btnAll"
            class="btn btn-blue btn-group rounded-l"
      data-action="map-filters#all">ALL</button>

    <button    id="btnAvailable"
            class="btn btn-blue btn-group"
      data-action="map-filters#available">Available</button>

    <button    id="btnInUse"
            class="btn btn-blue btn-group rounded-r"
      data-action="map-filters#inUse">InUse</button>

  </div>

  <div id="mapdiv"></div>
</div>
