<h2 class="title">Demo Map Basic</h2>

<div class="sub-title">
  Displays a basic google map, fetches sample.json, and add the markers 
</div>

<div id="fullmap"
     data-controller="map-basic"
     data-map-basic-url="/sample_data.json">
</div>
